@model List<Item> 
@{
    ViewData["Title"] = "Index";
}
<h3>Index</h3>

<table class="table">
    <thead>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
    </thead>
</table>


